# Исключаем файлы и папки, которые не должны попасть в Docker-образ
__pycache__/
*.py[cod]
*$py.class

# Файлы, связанные с окружением и зависимостями

venv/
env/
.Python
*.egg-info/
*.log

# Папки и файлы, генерируемые в процессе работы
build/
dist/
*.pyc

# Логи
*.log

# Файлы для IDE и редакторов
.idea/
.vscode/


# Другие временные файлы и директории
*.bak
